@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

/* css reset */
#element{
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height:1;
}

body{
  background-color: white;
  margin-bottom: 5%;
}

input.ng-invalid, select.ng-invalid{
  background-color: gray;
}

.panel {
  background-color: rgba(255,255,255, 0.9);
  box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
}

.navbar-default .navbar-brand {
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
  font-size: 55px;
  color: black;
  font-weight: bolder;
  padding: 15px;
}
.navbar-default .navbar-nav > li {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
}
.navbar-default .navbar-nav > li > a:hover {
  text-shadow: 1px 3px 3px rgba(0,0,0,.4);
}

img#photo1 {
  /*position: absolute; */
  top: 250px;
  max-height: 700px;
  /*transform: translate(-50%, -50%) */
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  text-decoration: none;
  color: rgba(0,0,0, .7);
}

/******* LINKS TO GITHUB AND LINKDIN ******/
.fa-github:before{
  position: absolute;
  top: 25%;
  left: 20%;
  margin-right: -150%;
}
.fa-linkedin-square:before {
  position: absolute;
  top: 25%;
  margin-left: 75%;
}

.navbar.navbar-default.navbar-fixed-bottom{
  font-size: 0.75em;
  text-align: right;
}
.navbar-text{
  font-size: 1em;
  display: inline-block;
  text-align: center;
}

.navbar-text#email{
  font-size: 2em;
  display: inline-block;
  text-align: center;
}

.fa.fa.twitter{
  font-size: 2em;
  display: inline-block;
  top: 5px;
}

#medium{
  max-width: 25%;
  margin-top: 7%;
}

#medium:hover{
  text-decoration: none;
  color: rgba(0,0,0, .7);

}

p.words{
  font-size: 4em;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #6304B2;
}
.photographer{
  color:#6304B2;
}
a.photographer:hover{
  font-weight: bold;
  color: red;
}


/******CAROUSEL ********/
.img-responsive.car {
  margin-left: auto;
  margin-right: auto;
}

#sarahCarousel{
  width: 60%;
  margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}
