@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

/* css reset */
#element{
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height:1;
}

body{
  background-color: white;
  margin-bottom: 5%;
}

input.ng-invalid, select.ng-invalid{
  background-color: gray;
}

.panel {
  background-color: rgba(255,255,255, 0.9);
  box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
}

.navbar-default .navbar-brand {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 280%;
  color: black;
}

@media (max-width: 1000px){
  .navbar-default .navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 200%;
    color: black;
  }
}

@media (max-width: 550px){
  .navbar-default .navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 150%;
    color: black;
  }

}
.navbar-default .navbar-nav > li {
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

/*.navbar-default .navbar-nav > li > a:hover {
  text-shadow: 1px 3px 3px rgba(0,0,0,.4);
}*/

@media (min-width: 480px){
  .navbar-default .navbar-nav > li > a:hover {
    text-shadow: 1px 3px 3px rgba(0,0,0,.4);
  }
}

img#photo1 {
  top: 250px;
  max-height: 100%;
  max-width: 100%
}

@media (max-width: 400px){
  /* applies only if screen is smaller than 400px */
  img#photo1{
    display:none;
  }
}

@media (max-width: 980px){
  img#photo1 {
    top: 250px;
    max-width: 150%
  }
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  text-decoration: none;
  color: rgba(0,0,0, .7);
}

/******* LINKS TO GITHUB AND LINKDIN ******/
.fa-github:before{
  position: absolute;
  top: 25%;
  left: 20%;
  margin-right: -150%;
}
.fa-linkedin-square:before {
  position: absolute;
  top: 25%;
  margin-left: 15%;
}

@media (max-width: 800px){
  .fa-linkedin-square:before {
    position: absolute;
    top: 25%;
      margin-left: 9%;
  }
}

.navbar.navbar-default.navbar-fixed-bottom{
  font-size: 0.75em;
  text-align: right;
}

/********************* COPYRIGHT INFO *******************/
#copy{
  font-size: 1em;
  display: inline-block;
  text-align: center;
}

@media (max-width: 980px){
  #copy{
    float: left;
  }
}

.navbar-text#email{
  font-size: 2em;
  display: inline-block;
  text-align: center;
}

.fa.fa.twitter{
  font-size: 2em;
  display: inline-block;
  top: 5px;
}

#medium{
  max-width: 25%;
  margin-top: 7%;
}

#medium:hover{
  text-decoration: none;
  color: rgba(0,0,0, .7);

}

p.words{
  font-size: 4em;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #6304B2;
}

@media (max-width: 980px){
  p.words{
    font-size: 4.2em;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #6304B2;
  }
}

p.wordsSMALL{
  font-size: 4em;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #6304B2;
}

#small{
  margin-top: 30%;
}

.photographer{
  color:#6304B2;
}
a.photographer:hover{
  font-weight: bold;
  color: red;
}


/******CAROUSEL ********/
.img-responsive.car {
  margin-left: auto;
  margin-right: auto;
}

#sarahCarousel{
  width: 70%;
  margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 100%; /* use this, or not */
  margin: auto;
}

a.clickPhotography{
  text-align: center;
  margin: 40px auto;
  display: block;
}
