@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

/* css reset */
#element{
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height:1;
}

body{
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

input.ng-invalid, select.ng-invalid{
  background-color: gray;
}

.panel {
  background-color: rgba(255,255,255, 0.9);
  box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.75);
}

.navbar-default .navbar-brand {
  font-weight: lighter;
  font-size: 280%;
  color: black;
}

}
.navbar-default .navbar-nav > li {
  font-size: 1em;
}



img#photo1 {
  top: 250px;
  max-height: 100%;
  max-width: 100%
}

@media (max-width: 400px){
  /* applies only if screen is smaller than 400px */
  img#photo1{
    display:none;
  }
}

@media (max-width: 980px){
  img#photo1 {
    top: 250px;
    max-width: 150%
  }
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  text-decoration: underline;
  color: rgba(0,0,0, .7);
}

/******* LINKS TO GITHUB AND LINKDIN ******/
.fa-github:before{
  position: absolute;
  top: 25%;
  left: 20%;
  margin-right: -150%;
}

.skills > ul {
  padding-left: 0;
}

.skills > ul li {
  list-style-type: none;
  font-size: 1.2em;
}


/********************* COPYRIGHT INFO *******************/
#copy{
  font-size: 1em;
  display: inline-block;
}

.copyright{
  padding: 19px 15px 0;
}


a#email{
    display: inline-block;
    padding: 19px 15px 0;
    text-align: right;
}

.email{
  text-align: right;
}

p.words{
  font-size: 4em;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  color: #6304B2;
}

@media (max-width: 980px){
  p.words{
    font-size: 4.2em;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    color: #6304B2;
  }
}

p.wordsSMALL{
  font-size: 4em;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  color: #6304B2;
}

#small{
  margin-top: 30%;
}

.photographer{
  color:#6304B2;
}

a.photographer:hover{
  font-weight: bold;
  color: red;
}

.headshot{
  border-radius: 25px;
  width: 75%;
  margin: 0 auto;
}

.sarahpBio {
  padding: 20px;
  font-weight: bold;
  line-height: 1.8;
  font-size: 1.2em;
}

.footer {
  margin-top: 30px;
}

/*********************************************** CAROUSEL **************************************/
.img-responsive.car {
  margin-left: auto;
  margin-right: auto;
}

#sarahCarousel{
  width: 70%;
  margin: auto;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 100%; /* use this, or not */
  margin: auto;
}

.clickPhotography{
  text-align: center;
  margin: 40px auto;
  display: block;
}


/* TRYING NEW LAYOUT */

html {
 height: 100%;
 margin-bottom: 1px;
 overflow-y: scroll;
 overflow-x: hidden;
}

.main{
  width: 99%;
  margin-top: 0px;
  background-color: #00000;
  min-height: 700px;
  max-height: 1200px;
  margin-bottom: 60px;
}

.main-left{
  width: 49%;
  float: left;
  cursor: pointer;
}

.main-right{
  width: 49%;
  float: right;
}

.leftCard{
  background: url('../img/spCape1.jpg') no-repeat top right;
  background-size: cover;
  height:1200px;
  margin: 0 0 5px 0;
}

.leftCard:hover{
  background: url('../img/spCape2.jpg') no-repeat top right;
  background-size: cover;
}

a.noDecoration:hover{
  text-decoration: none;
}

.topCard{
  background: url('../img/design.jpg') no-repeat top left;
  background-size: cover;
  height: 500px;
  width: 286%;
  margin-bottom: 5px;
  cursor: pointer;
}

.bottomCard{
  background: url('../img/smp-taking-photo.jpg') no-repeat top left;
  background-size: cover;
  height: 650px;
  width: 200%;
  cursor: pointer;
}

.photographyLargeFont{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5em;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
}

.navbar{
  margin-bottom: 0;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  background-color: #fff;
}

/************************** Skills page ***************************/
.skills{
  text-align: center;
  margin-bottom: 5%;
  color: #000;
}

.card-title{
  border-bottom: 1px solid #eee;
  padding:0 0 15px;
}


/***************************************** MEDIA QUERIES **************************************/

@media (max-width: 1000px){
  .navbar-default .navbar-brand {
    font-size: 200%;
  }
}

@media(max-width: 992px){
    .main-left,
    .main-right {
      width: 100%;
      float: none;
    }

    .navbar-brand,
    .collapse.navbar-collapse{
      float: none;
    }

    .leftCard{
      background: url('../img/spCape1_small.jpg') no-repeat top right;
      background-size: cover;
    }

    .topCard{
      width: 167%;
    }

    .bottomCard{
      height: 500px;
      width: 100%;
      display: block;
      margin:0 auto;
    }
 }

 @media(max-width: 768px){
    .photographyLargeFont{
      font-size: 5.2em;
      margin-top: 5px;
      padding-right: 28%;
    }

    .leftCard{
      background: url('../img/spCape1.jpg') no-repeat top right;
      background-size: cover;
      height: 500px;
      margin: 0 auto;
      width: 100%;
    }

    .leftCard .photographyLargeFont{
      font-size: 4em;
    }
    .topCard{
      width: 110%;
      height: 500px;
    }
    .bottomCard{
      height: 500px;
      width: 100%;
    }
    .copyright,
    .email{
      font-size: .8em;
    }
 }

@media (max-width: 550px){
  .navbar-default .navbar-brand {
    font-size: 150%;
  }
}

 @media (min-width: 480px){
  .navbar-default .navbar-nav > li > a:hover {
    text-shadow: 1px 3px 3px rgba(0,0,0,.4);
  }
}

