body{
  background-image: url('img/color2.png');
  background-size: cover;
}


.skills{
  text-align: center;
  margin-bottom: 5%;
  color: white;
}

h3, h4{
  color: rgb(255,222,173);
  text-shadow: 1px 1px 9px rgba(20, 20, 20, 1);
}
