doctype html
html
  head
    meta(charset='utf-8')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='css/about.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    title  Sarah Pearson
  body   
    include nav
    .row
      .col-xs-12
        img#photo2(img='img', src='img/paper.jpg')
        p.bio Sarah Pearson moved to Nashville in the pursuit of a career in the Music Business.  She earned her Bachelors Degree in Business Administration with an emphasis in Music Business from Belmont University.  She spent eleven years working in the publishing industry at EMI Music Publishing, Stream Sound Records and Warner/Chappell Publishing.  In that time she garnered memorable experiences, invaluable contacts, and made lifelong friends. Having spent years behind the scenes in the music industry her interests expanded beyond the land of entertainment and into the realm of software development.  Her creative soul demands an outlet.  This outlet is designing and creating websites, games, and software applications.  In the future she’d like to combine her expertise in the entertainment industry and her knowledge in software development and create a mixed medium format that will provide a long and satisfying career.        
        h2.bio Skills
          ul.bio
            li HTML
            li CSS
            li Javascript
            li MongoDB
            li AngularJS
            li Express
            li Node
