doctype html
html
  head
    meta(charset='utf-8')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='css/about.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    title  Sarah Pearson
  body   
    include nav
    .row
      .col-xs-12
        p#bio I was born in Michigan.  An accomplished basketball player, photographer and artist.  I moved to Nashville, TN to attend Belmont University where I earned my Bachelor of Business Administration. I worked in the music industry for a number of years before deciding to attend Nashville Software School to follow my passion of web design and font end development.     
        img#photo2(img='img', src='img/paper.jpg')
