doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='css/design.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    title  Sarah Pearson | Designer
  body   
    include nav
    .container.hidden-xs
      .row
        .col-xs-12
          p.kind Photoshop
      .row
        .col-xs-4
          p.projects Brandy Clark Album Release Invite
          a(href='http://www.brandyclarkmusic.com', target='_blank')
            img.img-responsive.photoshop(src='img/BC Evite 10.29.jpeg')
        .col-xs-4
          p.projects Patrick Joseph Showcase E-Blast
          a(href='https://www.facebook.com/PJMSongs', target='_blank')
            img.img-responsive.photoshop(src='img/PJM Writers night 6.jpeg')
        .col-xs-4
          p.projects Hits Magazine Ad 
          a(href='http://www.warnerchappell.com', target='_blank')
            img.img-responsive.photoshop2(src='img/HITSad3Small.jpg')
      .row
        .col-xs-4
          p.projects Music Row magazine Add
          a(href='#', target='_blank')
            img.img-responsive.photoshop(src='img/Josh Turner.jpg')
        .col-xs-4
          p.projects NashvesTN Mobile Splash Screens
          a(href='http://nashvestn.herokuapp.com/', target='_blank')
            img.img-responsive.photoshop2(src='img/nashvesTNlogoLandscape.png')
        .col-xs-4
          p.projects Gravity Flip Mobile Splash Screens
          a(href='https://play.google.com/store/apps/details?id=daveboling.gravity.flip&hl=en', target='_blank')
            img.img-responsive.photoshop(src='img/gravityFlip 1024.jpg')
      .row
        .col-xs-12
          p.kind Video
      .row.border
        .col-xs-12.col-sm-6.col-md-8.col-xs-12.col-sm-6.col-md-8
          p.projects Getting To Know Brandy Clark 
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='http://www.youtube.com/embed/7twxI4hmPhA', allowfullscreen='allowfullscreen') 
        .col-xs-6.col-md-4
          p.description This is a video for Warner Bros. recording artist Brandy Clark where Sarah filmed, and edited the video of Brandy's team. Edited with Final Cut Express
      //.row.border
        .col-xs-12.col-sm-6.col-md-8.col-xs-12.col-sm-6.col-md-8
          p.projects Puerto Vallarta Real World Hack 
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='http://www.youtube.com/embed/_9l4YnUNehc', allowfullscreen='allowfullscreen') 
        .col-xs-6.col-md-4
          p.description A Video edited for friends of their trip to Puerto Vallarta.  Filmed and edited by Sarah Pearson Edited with Final Cut Express
  
    .container.visible-xs    
      .row
        .col-xs-12
          p.kindSMALL Photoshop
      .row
        .col-xs-12
          p.projectsSMALL Brandy Clark Album Release Invite
      .row
        .col-xs-12
          a(href='http://www.brandyclarkmusic.com', target='_blank')
            img.img-responsive.photoshopSMALL(src='img/BC Evite 10.29.jpeg')
      .row
        .col-xs-12
          p.projectsSMALL Patrick Joseph Showcase E-Blast
      .row
        .col-xs-12
          a(href='https://www.facebook.com/PJMSongs', target='_blank')
            img.img-responsive.photoshopSMALL(src='img/PJM Writers night 6.jpeg')
      .row
        .col-xs-12
          p.projectsSMALL Hits Magazine Ad 
          a(href='http://www.warnerchappell.com', target='_blank')
            img.img-responsive.photoshop2SMALL(src='img/HITSad3Small.jpg')
      .row
        .col-xs-12
          p.projectsSMALL Music Row magazine Add
      .row
        .col-xs-12
          a(href='#', target='_blank')
            img.img-responsive.photoshopSMALL(src='img/Josh Turner.jpg')
      .row
        .col-xs-12
          p.projectsSMALL NashvesTN Mobile Splash Screens
      .row
          a(href='http://nashvestn.herokuapp.com/', target='_blank')
            img.img-responsive.photoshop1SMALL(src='img/nashvesTNlogoLandscape.png')
      .row
        .col-xs-12
          p.projectsSMALL Gravity Flip Mobile Splash Screens
      .row
        .col-xs-12    
          a(href='https://play.google.com/store/apps/details?id=daveboling.gravity.flip&hl=en', target='_blank')
            img.img-responsive.photoshopSMALL(src='img/gravityFlip 1024.jpg')
      .row
        .col-xs-12
          p.kindSMALL Video
      .row
        .col-xs-12
          p.projectsSMALL Getting To Know Brandy Clark 
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='http://www.youtube.com/embed/7twxI4hmPhA', allowfullscreen='allowfullscreen') 
      .row  
        .col-xs-12
          p.descriptionSMALL This is a video for Warner Bros. recording artist Brandy Clark where Sarah filmed, and edited the video of Brandy's team. Edited with Final Cut Express
      //.row.border
        .col-xs-12.col-sm-6.col-md-8.col-xs-12.col-sm-6.col-md-8
          p.projects Puerto Vallarta Real World Hack 
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='http://www.youtube.com/embed/_9l4YnUNehc', allowfullscreen='allowfullscreen') 
        .col-xs-6.col-md-4
          p.description A Video edited for friends of their trip to Puerto Vallarta.  Filmed and edited by Sarah Pearson Edited with Final Cut Express
  
    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
