doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='css/design.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    title  Sarah Pearson | Designer
  body   
    include nav
    .row
      .col-xs-12
        p.kind Photoshop
    .row
      .col-xs-6
        p.projects Brandy Clark Album Release Invite
        a(href='http://www.brandyclarkmusic.com', target='_blank')
          img.img-responsive.photoshop(src='img/BC Evite 10.29.jpeg')
      .col-xs-6
        p.projects Patrick Joseph Showcase E-Blast
        a(href='http://www.brandyclarkmusic.com', target='_blank')
          img.img-responsive.photoshop(src='img/PJM Writers night 6.jpeg')
    .row
      .col-xs-12
        p.kind Videos
    .row.border
      .col-xs-12.col-sm-6.col-md-8.col-xs-12.col-sm-6.col-md-8
        p.projects Getting To Know Brandy Clark 
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='http://www.youtube.com/embed/7twxI4hmPhA', allowfullscreen='allowfullscreen') 
      .col-xs-6.col-md-4
        p.description This was a video for Warner Bros. recording artist where Sarah filmed, and edited the video of Brandy's team.
    .row.border
      .col-xs-12.col-sm-6.col-md-8.col-xs-12.col-sm-6.col-md-8
        p.projects Puerto Vallarta Real World Hack 
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='http://www.youtube.com/embed/_9l4YnUNehc', allowfullscreen='allowfullscreen') 
      .col-xs-6.col-md-4
        p.description A Video edited for friends of their trip to Puerto Vallarta.  Filmed and edited by Sarah Pearson
  
