doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/normalize2.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    link(href='//cdn.jsdelivr.net/devicons/1.5.0/css/devicons.min.css', rel='stylesheet')

    title  Sarah Pearson
  body
    include nav
    .container
      .page-header
        .row
          .col-xs-2.col-md-2
            a.link(href='https://github.com/SarahMPearson', target='_blank').fa.fa-github.fa-5x
          .col-xs-8.col-md-8
            p.words 
              a.photographer(href='projects.html')
                | Web Developer | 
              a.photographer(href='design.html')
                | Designer | 
              a.photographer(href='gallery.html')
                | Photographer
          .col-xs-2.col-md-2
            a.link(href='https://www.linkedin.com/in/sarahpearson', target='_blank').fa.fa-linkedin-square.fa-5x 
    .row
      .col-xs-4.col-xs-offset-4 
        img.img-responsive#photo1(img='img', src='img/spCape2.png')
      .col-xs-4

    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
      



        

        
  




      

  
    
