doctype html
html
  head
    meta(charset='utf-8')
    link(href='/vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    title  Sarah Pearson
  body
    include nav
      h1  Profile Page For Sarah Pearson 
  
    
