doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //meta(name="viewport' content=", width-device-width,='', initial-scale='1.0"/')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/normalize2.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='vendor/font-awesome-4.3.0/css/font-awesome.css', rel='stylesheet')
    link(href='//cdn.jsdelivr.net/devicons/1.5.0/css/devicons.min.css', rel='stylesheet')

    title  Sarah Pearson
  body
    include nav
    .container
i
    .main
      .main-left
        a(href="about.html")
          .row.leftCard
            p.photographyLargeFont
              | Sarah M. Pearson
      .main-right
        a(href="design.html")
          .row.topCard
            .col-xs-12
              p.photographyLargeFont
                |Design
        a(href="gallery.html")
          .row.bottomCard
            .col-xs-12
              p.photographyLargeFont
                |Photography

    script(src='vendor/jquery/dist/jquery.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='js/projects.js', type='text/javascript')
















