nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') Sarah Pearson
        #bs-navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.fa.fa-bar-chart(href='projects.html')   Projects
            li
              a.fa.fa-user(href='about.html')   About
            li
              a.fa.fa-cogs(href='skills.html')   Skills
            li
              a.fa.fa-paint-brush(href='design.html')   Design
            li
              a.fa.fa-file-text-o(href='img/SarahMPearsonResumeOnline.pdf')   Resume
    .navbar.navbar-default.navbar-fixed-bottom
      .container
        a#email.fa.fa-envelope-o.fa-4x(href='mailto:sarahp@me.com')  
        p#copy.navbar-text.i.fa.fa-copyright   2016 Sarah Pearson
        a.fa.fa-twitter.fa-4x(href='http://www.twitter.com/sasspearson') &nbsp;


