nav.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') Sarah Pearson
        #bs-navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='projects.html')
                i.fa.fa-bar-chart
                |  Projects
            li
              a(href='about.html')
                i.fa.fa-user
                |  About
            li
              a(href='skills.html')
                i.fa.fa-cogs
                |  Skills
            li
              a(href='design.html')
                i.fa.fa-paint-brush
                |  Design
            li
              a(href='gallery.html')
                i.fa.fa-camera-retro
                |  Photo
            li
              a(href='img/SarahMPearsonResumeOnline.pdf')
                i.fa.fa-file-text-o
                |   Resume
    .navbar.navbar-default.navbar-fixed-bottom
      .container
        .row
          .col-xs-5.col-sm-8
            p#copy.navbar-text.i.fa.fa-copyright
              | 2017 Sarah Pearson
          .col-xs-7.col-sm-4
            a#email.fa.fa-envelope-o.fa-4x(href='mailto:sarahp@me.com')
            a#twitter.fa.fa-twitter.fa-4x(href='http://www.twitter.com/sasspearson') &nbsp;


