.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='index.html') Sarah Pearson

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href='projects.html').fa.fa-bar-chart &nbsp Projects
        li: a(href='about.html').fa.fa-user &nbsp About
        li: a(href='img/SarahMPearsonResume.pdf').fa.fa-file-text-o &nbsp; Resume
        
        
.navbar.navbar-default.navbar-fixed-bottom
  .container
    a.fa.fa-envelope-o.fa-5x#email(href='mailto:sarahp@me.com') &nbsp;
    p.navbar-text.i.fa.fa-copyright &nbsp; 2014 Sarah Pearson
    a.fa.fa-twitter.fa-5x(href='http://www.twitter.com/sasspearson') &nbsp;
    a(href='https://medium.com/@SarahMPearson')
      img.img-responsive#medium(src='img/medium.png')
