doctype html
html
  head
    meta(charset='utf-8')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='css/projects.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    title  Sarah Pearson
  body   
    include nav
    .row
      .col-xs-12
        p.kind Capstone
    .row
      .col-xs-6
        p.projects Hoppy Days
        img.capstone(src='img/home.jpg')
        a.btn.btn-default.btn-sm.active(href='https://github.com/SarahMPearson/capstone', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-default.btn-sm.active#play(href='hoppy.sarahmpearson.com', role='button', target='_blank').fa.fa-beer &nbsp Visit Site
      .col-xs-6
    .row
      .col-xs-12
        p.kind iOS Games
    .row
      .col-xs-6
        p.projects Caddy Hack
        img.photo3(src='img/caddyHack.png')
        a.btn.btn-default.btn-sm.active(href='https://github.com/LizaHCarter/lls-golf', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-default.btn-sm.active#play(href='https://play.google.com/store/apps/details?id=com.ionicframework.llsgolf414388&hl=en', role='button', target='_blank').fa.fa-android &nbsp View on Google Play
      .col-xs-6
        p.projects Gravity Flip
        img.photo3(img='img', src='img/gravityFlip.png')
        a.btn.btn-default.btn-sm.active(href='https://github.com/kadowki/falldown', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-default.btn-sm.active#play(href='https://play.google.com/store/apps/details?id=daveboling.gravity.flip&hl=en', role='button', target='_blank').fa.fa-android &nbsp View on Google Play
    .row
      .col-xs-12
        p.kind Phaser Games
    .row
      .col-xs-6
        p.projects Pirates Booty
        img.pirate(src='img/piratesBooty.png')
        a.btn.btn-default.btn-sm.active(href='https://github.com/ABarnhard/mario', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-default.btn-sm.active#play(href='http://sarahmpearson.com/mario/', role='button', target='_blank').fa.fa-play &nbsp Play Game
      .col-xs-6
        p.projects RoundUp
        img.pirate(src='img/roundUpLogo.png')
        a.btn.btn-default.btn-sm.active(href='https://github.com/ABarnhard/roundup', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-default.btn-sm.active#play(href='http://sarahmpearson.com/roundup/', role='button', target='_blank').fa.fa-play &nbsp Play Game
