doctype html
html
  head
    meta(charset='utf-8')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='css/projects.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    title  Sarah Pearson
  body   
    include nav
    .row
      .col-xs-6
        img.photo3(src='img/caddyHack.png')
        a.btn.btn-default.btn-sm.active(href='https://github.com/LizaHCarter/lls-golf', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
      .col-xs-6
        img.photo3(img='img', src='img/gravityFlip.png')
        a.btn.btn-default.btn-sm.active(href='https://github.com/kadowki/falldown', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
    .row
      .col-xs-6
        img.pirate(src='img/piratesBooty.png')
        a.btn.btn-default.btn-sm.active(href='https://github.com/ABarnhard/mario', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-default.btn-sm.active#play(href='http://sarahmpearson.com/mario/', role='button', target='_blank').fa.fa-gamepad &nbsp Play Game
      .col-xs-6
          img.pirate(src='img/roundUpLogo.png')
          a.btn.btn-default.btn-sm.active(href='https://github.com/ABarnhard/roundup', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
          a.btn.btn-default.btn-sm.active#play(href='http://sarahmpearson.com/roundup/', role='button', target='_blank').fa.fa-gamepad &nbsp Play Game
