doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='css/projects.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    title  Sarah Pearson | Projects
  body
    include nav
    .row
      .col-xs-12
        p.kind ICPSR Membership Page Update
    .row
      .col-sm-12.hidden-xs
        a(href='http://www.icpsr.umich.edu/icpsrweb/content/membership/index.html', target='_blank')
          p#membership
      .col-xs-12.visible-xs
        a(href='http://www.icpsr.umich.edu/icpsrweb/content/membership/index.html', target='_blank')
          img.img-responsive.capstone(src='img/old-membership-page.jpg', alt='screen shot of old I C P S R membership page')
        p.description.center
          | ICPSR's old membership page.  I was in charge of redesigning the new look.  Click the picture to see my update
  //-
    .row
      .col-xs-12
        p.kind Capstone
    .row
      .col-xs-12
        p.projects Hoppy Days
        a(href='http://hoppy.sarahmpearson.com', target='_blank')
          img.img-responsive.capstone(src='img/Home.jpg')
      .col-xs-12.col-sm-6.col-sm-offset-3
        a.btn.btn-danger.fa.fa-github-alt(href='https://github.com/SarahMPearson/capstone', role='button', target='_blank') &nbsp View on Github
        a.btn.btn-danger.fa.fa-beer(href='http://hoppy.sarahmpearson.com', role='button', target='_blank') &nbsp Visit Site
      .col-sm-6
  -//
    .row
      .col-xs-12
        p.kind Capstone 2
    .row
      .col-xs-12
        p.projects SongHouse
        a(href='http://songhouse.herokuapp.com', target='_blank')
          img.img-responsive.capstone(src='img/songHouse.jpg')
      .col-xs-12.col-sm-6.col-sm-offset-3
        a.btn.btn-danger.fa.fa-github-alt(href='https://github.com/SarahMPearson/songHouse', role='button', target='_blank') &nbsp View on Github
        a.btn.btn-danger.fa.fa-music(href='http://songhouse.herokuapp.com', role='button', target='_blank') &nbsp Visit Site
      .col-sm-6
    .row
      .col-xs-12
        p.kind Hack Nashville 6
    .row
      .col-xs-12
        p.projects NashvesTN
        a(href='http://nashvestn.herokuapp.com/', target='_blank')
          img.img-responsive.capstone(src='img/NashvesTN.png')
      .col-xs-12.col-sm-6.col-sm-offset-3
        a.btn.btn-info.fa.fa-github-alt(href='https://github.com/banjeremy/nashvestn-server', role='button', target='_blank') &nbsp View on Github
        a.btn.btn-info.fa.fa-check(href='http://nashvestn.herokuapp.com/', role='button', target='_blank') &nbsp Visit Site
        a.btn.btn-info.fa.fa-android(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpnashvestn202992', role='button', target='_blank') &nbsp View on Google Play
      .col-sm-6
    .row
      .col-xs-12
        p.kind iOS Games
    .well
      .row
        .col-xs-12.col-sm-6
          p.projects Caddy Hack
          a(href='https://play.google.com/store/apps/details?id=com.ionicframework.llsgolf414388&hl=en', target='_blank')
            img.img-responsive.photo3(src='img/caddyHack.png')
        .col-xs-12.col-sm-6
          p.description
            | Use your phones gyroscope to get the golfball into the hole!  Made with Ionic, HTML5, Canvas, and Xcode/AndroidSDK
          p.description TEAM: Liza Carter, Logan Richardson
          a.btn.btn-info.fa.fa-github-alt(href='https://github.com/LizaHCarter/lls-golf', role='button', target='_blank') &nbsp View on Github
          a.btn.btn-info.fa.fa-android(href='https://play.google.com/store/apps/details?id=com.ionicframework.llsgolf414388&hl=en', role='button', target='_blank') &nbsp View on Google Play
    .well
      .row
        .col-xs-12.col-sm-6
          p.projects Gravity Flip
          a(href='https://play.google.com/store/apps/details?id=daveboling.gravity.flip&hl=en', target='_blank')
            img.img-responsive.photo3(img='img', src='img/gravityFlip.png')
        .col-xs-12.col-sm-6
          p.description
            | Avoid the asteroids flying through the sky!  Be careful flying around in space can get confusing and the gravity can change!
          p.description TEAM: Dave Boiling, Zoe Ames, Matt Keef, Mikey Badr
          a.btn.btn-info.fa.fa-github-alt(href='https://github.com/kadowki/falldown', role='button', target='_blank') &nbsp View on Github
          a.btn.btn-info.fa.fa-android(href='https://play.google.com/store/apps/details?id=daveboling.gravity.flip&hl=en', role='button', target='_blank') &nbsp View on Google Play
    .row
      .col-xs-12
        p.kind Phaser Games
    .well
      .row
        .col-xs-12.col-sm-6
          p.projects Pirates Booty
          a(href='http://www.sarahmpearson.com/mario/', target='_blank')
            img.img-responsive.pirate(src='img/piratesBooty.png')
        .col-xs-12.col-sm-6
          p.description
            | A side scroller game, use your arrows to navigate to level 2!  Built with Phaser.io
          p.description TEAM: Zoe Ames, Adam Barnhard, Joy Pratt
          a.btn.btn-info.fa.fa-github-alt(href='https://github.com/ABarnhard/mario', role='button', target='_blank') &nbsp View on Github
          a.btn.btn-info.fa.fa-play(href='http://www.sarahmpearson.com/mario/', role='button', target='_blank') &nbsp Play Game
    .well
      .row
        .col-xs-12.col-sm-6
          p.projects RoundUp
          a(href='http://www.sarahmpearson.com/roundup/', target='_blank')
            img.img-responsive.pirate(src='img/roundUpLogo.png')
        .col-xs-12.col-sm-6
          p.description Collect the stars and diamonds before the time runs out! Built with Phaser.io
          p.description TEAM: Adam Barnhard, Michael Barreiro
          a.btn.btn-info.fa.fa-github-alt(href='https://github.com/ABarnhard/roundup', role='button', target='_blank') &nbsp View on Github
          a.btn.btn-info.fa.fa-play(href='http://www.sarahmpearson.com/roundup/', role='button', target='_blank') &nbsp Play Game
  script(src='vendor/jquery/dist/jquery.js')
  script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
