doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='shortcut icon', href='favicon.ico')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='css/projects.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    script(type='text/javascript', src='js/projects.js')
    title  Sarah Pearson
  body   
    include nav
    .row
      .col-xs-12
        p.kind Capstone
    .row
      .col-xs-6
        p.projects Hoppy Days
        a(href='http://hoppy.sarahmpearson.com', target='_blank')
          img.img-responsive.capstone(src='img/Home.jpg')
        a.btn.btn-danger#hoppyGit(href='https://github.com/SarahMPearson/capstone', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-danger#hoppy(href='http://hoppy.sarahmpearson.com', role='button', target='_blank').fa.fa-beer &nbsp Visit Site
      .col-xs-6
    .row
      .col-xs-12
        p.kind Hack Nashville 6
    .row.border
      .col-xs-6
        p.projects NashvesTN
        a(href='http://nashvestn.herokuapp.com/', target='_blank')
          img.img-responsive.capstone(src='img/NashvesTN.png')
        a.btn.btn-info#hoppyGit(href='https://github.com/banjeremy/nashvestn-server', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-info#hoppy(href='http://nashvestn.herokuapp.com/', role='button', target='_blank').fa.fa-check &nbsp Visit Site
        a.btn.btn-info#hoppy2(href='https://play.google.com/store/apps/details?id=com.ionicframework.gpnashvestn202992', role='button', target='_blank').fa.fa-android &nbsp View on Google Play
      .col-xs-6
    .row
      .col-xs-12
        p.kind iOS Games
    .row.border
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        p.projects Caddy Hack
        a(href='https://play.google.com/store/apps/details?id=com.ionicframework.llsgolf414388&hl=en', target='_blank')
          img.img-responsive.photo3(src='img/caddyHack.png')
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        p.description Use your phones gyroscope to get the golfball into the hole!  Made with Ionic, HTML5, Canvas, and Xcode/AndroidSDK
        p.description TEAM: Liza Carter, Logan Richardson 
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        a.btn.btn-info#caddyGit(href='https://github.com/LizaHCarter/lls-golf', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-info#caddyPlay(href='https://play.google.com/store/apps/details?id=com.ionicframework.llsgolf414388&hl=en', role='button', target='_blank').fa.fa-android &nbsp View on Google Play
    .row.border
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        p.projects Gravity Flip
        a(href='https://play.google.com/store/apps/details?id=daveboling.gravity.flip&hl=en', target='_blank')
          img.img-responsive.photo3(img='img', src='img/gravityFlip.png')
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        p.description Avoid the asteroids flying through the sky!  Be careful flying around in space can get confusing and the gravity can change!
        p.description TEAM: Dave Boiling, Zoe Ames, Matt Keef, Mikey Badr
      .col-xs-6.col-md-4.col-xs-6.col-md-4
            a.btn.btn-info#gravityGit(href='https://github.com/kadowki/falldown', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
            a.btn.btn-info#gravityPlay(href='https://play.google.com/store/apps/details?id=daveboling.gravity.flip&hl=en', role='button', target='_blank').fa.fa-android &nbsp View on Google Play
    .row
      .col-xs-12
        p.kind Phaser Games
    .row.border
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        p.projects Pirates Booty
        a(href='http://sarahmpearson.com/mario/', target='_blank')
          img.img-responsive.pirate(src='img/piratesBooty.png')
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        p.description A side scroller game, use your arrows to navigate to level 2!  Built with Phaser.io
        p.description TEAM: Zoe Ames, Adam Barnhard, Joy Pratt
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        a.btn.btn-info#marioGit(href='https://github.com/ABarnhard/mario', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-info#marioPlay(href='http://www.sarahmpearson.com/mario/', role='button', target='_blank').fa.fa-play &nbsp Play Game
    .row.border
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        p.projects RoundUp
        a(href='http://sarahmpearson.com/roundup/', target='_blank')
          img.img-responsive.pirate(src='img/roundUpLogo.png')
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        p.description Collect the stars and diamonds before the time runs out! Built with Phaser.io
        p.description TEAM: Adam Barnhard, Michael Barreiro
      .col-xs-6.col-md-4.col-xs-6.col-md-4
        a.btn.btn-info#roundupGit(href='https://github.com/ABarnhard/roundup', role='button', target='_blank').fa.fa-github-alt &nbsp View on Github
        a.btn.btn-info#roundupPlay(href='http://www.sarahmpearson.com/roundup/', role='button', target='_blank').fa.fa-play &nbsp Play Game


    
