doctype html
html
  head
    meta(charset='utf-8')
    link(href='vendor/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    link(href='css/resume.css', rel='stylesheet')
    link(href='vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
    title  Sarah Pearson
  body   
    include nav
    .row
      .col-xs-12 
        img#res(img='img', src='img/SarahMPearsonResume.doc')
        img(img='resume', src='img/SarahMPearsonResume.pdf')
        a(href='img/SarahMPearsonResume.pdf') Download Link
